<div class="card h-100 border-0" *ngIf="product">
  <img class="card-img-top" src="{{ product.pictureUrl }}" alt="{{ product.name }}" class="img-fluid">
  <div class="card-body">
    <a class="card-title text-decoration-none">
      <h6 class="text-uppercase text-nowrap overflow-hidden">{{ product.name }}</h6>
    </a>
    <div class="mb-2">{{ product.price | currency}}</div>
    <div class="btn-group mt-auto w-100">
      <button class="btn btn-outline-secondary col-6">
        <i class="fa fa-shopping-cart"></i>
      </button>
      <button class="btn btn-outline-secondary col-6" routerLink="/shop/{{product.id}}">View</button>
    </div>
  </div>
</div>
