
<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h1 class="mb-3">Login</h1>
        </div>
        <app-text-input [formControl]="loginForm.controls['email']" [type]="'email'" [label]="'Email Address'"></app-text-input>
        <app-text-input [formControl]="loginForm.controls['password']" [type]="'password'" [label]="'Password'"></app-text-input>
        
          <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary mt-3 w-100">
            Sign in
          </button>
        
      </form>
    </div>
    <!-- <div class="col-4 ms-3">
      <p>FormStatus: {{loginForm.status}}</p>
      <p>Email : {{loginForm.get('email')?.status}}</p>
      <p>Email touced: {{loginForm.get('email')?.touched}}</p>
      <p>email dirty: {{loginForm.get('email')?.dirty}}</p>
    </div> -->
</div>
