<div class="container mt-5">
  <div (click)="get500Error()" class="btn btn-outline-primary me-3">Test 500 error</div>
  <div (click)="get404Error()" class="btn btn-outline-primary me-3">Test 404 error</div>
  <div (click)="get400Error()" class="btn btn-outline-primary me-3">Test 400 error</div>
  <div (click)="get400ValidationError()" class="btn btn-outline-primary me-3">Test 400 validation error</div>
  <div class="row mt-5" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li class="" *ngFor="let error of validationErrors">{{ error }}</li>
      </ul>
  </div>
</div>
