.cart-no
{
  font-size: 10px;
  position: absolute;
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;
  background: blue;
  color: white;
  text-align: center;
  top: -6px;
  right: -6px;
}
a{
   text-decoration: none;
   color: #343a40;
   &.active{
    font-weight: bold;
   }
}
 .logo {
  cursor: pointer;
 }


