<nav class="navbar navbar-expand-md">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img class="logo" src="../../assets/images/logo.png" alt="" routerLink="/" />
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav gap-4 text-uppercase" style="letter-spacing: 3.5px;">
        <li class="nav-item">
          <a class="" aria-current="page" routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="" routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item">
          <a class="" routerLink="/test-error" routerLinkActive="active">Errors</a>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-between gap-3  fs-5">
      <a routerLink="/basket" class="position-relative text-secondary">
        <i class="fa fa-shopping-cart"></i>
        <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
          {{ getCount(basket.items) }}
        </div>
      </a>
      <a href="#" class="text-secondary">
        <i class="fa fa-arrow-right-to-bracket"></i>
      </a>
      <a href="#" class="text-secondary">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    </div>
  </div>
</nav>
